.unity-text-field__input {
    background-color: rgba(255, 255, 255, 0.05);
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 10px 15px;
    color: white;
    font-size: 18px;
    selection-color: rgba(100, 180, 255, 0.4);
    transition: border-color 0.2s ease-in-out, background-color 0.2s;
}

.unity-text-field__input:focus {
    border-color: rgb(222, 255, 154);
    background-color: rgba(255, 255, 255, 0.1);
}

.unity-text-field__label {
    color: rgb(218, 255, 222);
    font-size: 16px;
    -unity-font-style: bold;
    margin-bottom: 5px;
}

.unity-button:hover {
    scale: 1.1 1.1 1.1;
    -unity-background-image-tint-color: rgb(184, 184, 184);
    background-color: rgb(3, 137, 159);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
